@import "../Helper/colors.module.scss";

.btn {
  width: 95%;
  outline: none;
  font-size: 2rem;
  font-family: inherit;
  padding: 1rem 0;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
  margin: 2rem 0;

  &--purple {
    background-color: $purple;
    color: $white;
  }

  &__small {
    width: 7rem;
    font-size: 1.5rem;
    background-color: darkgreen;
    color: white;
    cursor: pointer;
    margin: 0 1rem;
  }

  &__small:hover {
    background-color: limegreen;
  }
}

.loader {
  display: inline-block;
  width: 3rem;
  height: 3rem;

  &::after {
    content: " ";
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
