.channels {
  &__headingBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0rem 1rem;
  }

  &__heading {
    font-size: 1.5rem;
  }

  &__add {
    font-size: 2rem;
    cursor: pointer;
  }

  &__listItem {
    padding-left: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0.5rem 0;
  }

  &__listItem.selected {
    background-color: #0000bc;
  }
}
